/* 
div {
  background-color: #ffedede7;
} */
.nav {
  text-align: center;
  color: #62554a !important;
}
.nav a {
  color: #62554a !important;
}

h1 {
  text-transform: uppercase !important;
}
.card-header {
  background-color: rgb(171, 143, 128) !important;
  color: rgb(255, 255, 255) !important;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.text-muted {
  background-color: rgb(171, 143, 128) !important;
  color: white !important;
  font-weight: 500;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

p {
  font-size: 22px;
  text-align: center !important;
  justify-content: center !important;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  color: black;
}

/* p {
  width: 500px;
  color: black;
  justify-content: center !important;
  text-align: center !important;
} */

.button {
  background-color: black !important;
  color: white !important;
  border-radius: 5em !important;
  padding: 12px !important;
  text-transform: uppercase;
  font-weight: 500 !important;
  border-color: black !important;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.Typew {
  font-size: 2.0em !important;
  color:#62554a !important;
  font-weight: 600 !important;
  display: flex;
  justify-content: center !important;
  text-align: center !important;
  align-items: center !important;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
